<div class="container">
<h1 class="text-center">Cocktails</h1>
  <div class="card-container">
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="card col-xs-6">
      <h3 class="card-title"><strong><%= cocktail.name.capitalize %></strong></h3>
      <div class="cocktails-link">
       <%= link_to "Details", cocktail_path(cocktail), style: "font-size: 12px;" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
